h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Manrope', sans-serif;
}

.mobile-menu {
    padding: 2rem;
}

.mobile-menu ul {
    width: 100%;
    text-align: center;
}

.mobile-menu li {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.success-metric {
    transition: background-color 0.3s, color 0.3s;
}

.group:hover h3,
.group:hover p {
    color: #ffffff;
}

.portfolio-section{
    background-color: #F0F2F8;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 1024px) {
    .swiper-slide{
        padding: 25px;
    }
  }

  @media (max-width: 1023px) {
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
  }
  